<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin_home">HOME</a>
    <a href="/admin_verify_advisor">VERIFY ADVISOR</a>
    <a href="/admin_send_notification">SEND NOTIFICATION</a>
    <a href="/admin_view_complaints">VIEW COMPLAINTS</a>
    <a href="/admin_view_rating">VIEW RATING</a>
    <a href="/">LOGOUT</a>

 -->



<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="DynamicLayers">

<title>Bitvantage</title>

<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png">

<!-- Font Awesome Icons CSS -->
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Themify Icons CSS -->
<link rel="stylesheet" href="static/css/themify-icons.css">
<!-- Elegant Font Icons CSS -->
<link rel="stylesheet" href="static/css/elegant-font-icons.css">
<!-- Elegant Line Icons CSS -->
<link rel="stylesheet" href="static/css/elegant-line-icons.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<!-- animate CSS -->
<link rel="stylesheet" href="static/css/animate.min.css">
<!-- Venobox CSS -->
<link rel="stylesheet" href="static/css/venobox.css">
<!-- OWL-Carousel CSS -->
<link rel="stylesheet" href="static/css/owl.carousel.css">
<!-- Nivo Slider CSS -->
<link rel="stylesheet" href="static/css/nivo-slider.css">
<!-- Slick Nav CSS -->
<link rel="stylesheet" href="static/css/slicknav.min.css">
<!-- Main CSS -->
<link rel="stylesheet" href="static/css/main.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="static/css/responsive.css">

<script src="static/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="preloader">
    <div class="loader">
        <img src="static/images/preloader.gif" width="50" alt="">
    </div>
</div><!-- Preloader -->

<header id="header" class="header_section bd-bottom">
    <div class="top_header">
        <div class="container">
            <div class="top_content_wrap row">
                <div class="col-sm-8">
                    <ul class="left_info">
                        <li><a href="#"><i class="ti-email"></i>bitvantage@gmail.com</a></li>
                        <li><a href="#"><i class="ti-mobile"></i>+(333) 052 39876</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 d-none d-md-block">
                    <ul class="right_info">
                        <!-- <li><a href="#"><i class="ti-user"></i>Login</a></li>
                        <li><a href="#"><i class="ti-pencil-alt"></i>Advisor</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_header">
        <div class="container">
            <div class="bottom_content_wrap row">
                <div class="col-sm-4 d-flex align-items-center">
                    <a href="#" class="me-2">
                        <img src="static/images/header-logo.jpg" alt="Brand">
                    </a>
                    <h2 style="color: black; margin: 0;">BitVantage</h2>
                </div>
                
                <div class="col-sm-8 text-right">
                    <ul id="mainmenu" class="nav navbar-nav nav-menu">
                        <li class="active"> <a href="/admin_home">Home</a>
                        </li>
                        <li> <a href="/admin_verify_advisor">Verify Advisor</a></li>
                        <li> <a href="/admin_send_notification">Send Notification</a>
                        </li>
                        <li> <a href="/admin_view_complaints">View Complaints</a></li>
                        <li > <a href="/admin_view_rating">VIEW RATING</a>
                        </li>
                        <li> <a href="/">LOGOUT</a>
                        </li>
                    </ul>
                    <!-- <a href="/advisor_reg" class="button_1">Register Now</a> -->
                </div>
            </div>
        </div>
    </div>
</header><!-- Header Section -->

<div class="ticker_wrapper bd-bottom">
    <ul id="webTicker">
        <li><img src="static/images/c-1.png" alt="icon"> Bitcoin<span>(BTC)</span> $545.285</li>
        <li><img src="static/images/c-2.png" alt="icon"> Ethereum<span>(LTC)</span> $123.912</li>
        <li><img src="static/images/c-3.png" alt="icon"> Exchange Union<span>(AMD)</span> $611.278</li>
        <li><img src="static/images/c-4.png" alt="icon"> Ripple<span>(DASH)</span> $095.385</li>
        <li><img src="static/images/c-5.png" alt="icon"> DigitalCash<span>(XMR)</span> $745.285</li>
        <li><img src="static/images/c-6.png" alt="icon"> Monero<span>(ETH)</span> $835.193</li>
        <li><img src="static/images/c-7.png" alt="icon"> Litecoin<span>(ADA)</span> $381.067</li>
    </ul>
</div><!-- Ticker -->
