{% include 'advisor_header.html' %}

<section class="slider-section">
    <div class="slider-wrapper">
        <div id="main-slider" class="nivoSlider">
            <img src="static/images/advisor-bg.jpg" alt="" title="#slider-caption-1">
            <!-- <img src="static/images/slider-2.jpg" alt="" title="#slider-caption-2">
            <img src="static/images/slider-3.jpg" alt="" title="#slider-caption-3"> -->
        </div><!-- /#main-slider -->

        <!-- <div id="slider-caption-1" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                       <div class="slider-text">
                           <h1 class="wow fadeInLeft2" data-wow-delay="1s"><span>Real-time Bitcoin</span><br><span>Predictions.</span></h1>
                            <p class="wow fadeInRight2" data-wow-delay="1s"> To predict the future price of Bitcoin based on historical data,market indicators, and trends.</p>
                            
                        </div>
                   </div>
                </div>
            </div>
        </div> /#slider-caption-1 -->
        <!-- <div id="slider-caption-2" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                       <div class="slider-text">
                        <h1 class="wow fadeInLeft2" data-wow-delay="1s"><span>Real-time Bitcoin</span><br><span>Predictions.</span></h1>
                        <p class="wow fadeInRight2" data-wow-delay="1s"> To predict the future price of Bitcoin based on historical data,market indicators, and trends.</p>
                         <a href="#" class="button_1 wow bounceInUp" data-wow-delay="0.8s">Learn More</a> 
                        </div>
                   </div>
                </div>
            </div>
        </div> slider-caption-2 -->
        <!-- <div id="slider-caption-3" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                       <div class="slider-text">
                        <h1 class="wow fadeInLeft2" data-wow-delay="1s"><span>Real-time Bitcoin</span><br><span>Predictions.</span></h1>
                        <p class="wow fadeInRight2" data-wow-delay="1s"> To predict the future price of Bitcoin based on historical data,market indicators, and trends.</p>
                        
                        </div>
                   </div>
                </div>
            </div>
        </div> /#slider-caption-3 -->
    </div>
</section><!-- /#slider-Section -->

{% include 'footer.html' %}