<!-- <div class="sponsor_section bg-grey">
    <div class="container">
        <ul id="sponsor_carousel" class="sponsor_items owl-carousel">
            <li class="sponsor_item">
                <img src="static/images/1.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/2.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/3.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/4.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/5.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/6.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/7.png" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="static/images/8.png" alt="sponsor-image">
            </li>
        </ul>
    </div>
</div>./sponsor_section -->

<section class="widget_section padding">
    <div class="container">
        <div class="row widget_wrapper">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <h2 style="color: rgb(252, 244, 244); margin: 0;">BitVantage</h2>
                <br>
                <p>The BitVantage aims to develop a comprehensive platform that leverages advanced
                    machine learning algorithms to predict the future price of Bitcoin.</p>
                <ul class="footer_social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <h3>Our Services</h3>
                <ul class="widget_links">
                    <li><a href="#">Price Prediction</a></li>
                    <li><a href="#">Invest Recommendation</a></li>
                    <li><a href="#">Consult With Experts</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <h3>Usefull Link</h3>
                <ul class="widget_links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <h3>Subscribe Newslatters</h3>
                <div class="subscribe_form">
                    <form action="#" class="subscribe_form">
                        <input type="email" name="email" id="subs-email" class="form_input" placeholder="Email Address...">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                        <div id="subscribe-result">
                            <p class="subscription-success"></p>
                            <p class="subscription-error"></p>
                        </div>
                    </form>
                </div><!-- Subscribe Form -->
            </div>
        </div>
    </div>
</section><!-- ./Widget Section -->

<footer class="footer_section">
    <div class="container">
        <div class="copyright">© 2024 Bitvantage</div>
    </div>
</footer><!-- /.footer_section -->

<a data-scroll="" href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>

<!-- jQuery Lib -->
<script src="static/js/jquery-1.12.4.min.js"></script>
<!-- Bootstrap JS -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Tether JS -->
<script src="static/js/tether.min.js"></script>
<!-- Counterup JS -->
<script src="static/js/jquery.counterup.min.js"></script>
<!-- waypoints js -->
<script src="static/js/jquery.waypoints.v2.0.3.min.js"></script>
<!-- Imagesloaded JS -->
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<!-- OWL-Carousel JS -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- Nivo Slider JS -->
<script src="static/js/jquery.nivo.slider.pack.js"></script>
<!-- isotope JS -->
<script src="static/js/jquery.isotope.v3.0.2.js"></script>
<!-- Smooth Scroll JS -->
<script src="static/js/smooth-scroll.min.js"></script>
<!-- venobox JS -->
<script src="static/js/venobox.min.js"></script>
<!-- ajaxchimp JS -->
<script src="static/js/jquery.ajaxchimp.min.js"></script>
<!-- Slick Nav JS -->
<script src="static/js/jquery.slicknav.min.js"></script>
<!-- Webticker JS -->
<script src="static/js/jquery.webticker.min.js"></script>
<!-- Wow JS -->
<script src="static/js/wow.min.js"></script>
<!-- Contact JS -->
<script src="static/js/contact.js"></script>
<!-- Main JS -->
<script src="static/js/main.js"></script>


</body></html>